/* look up border box */

* {
  box-sizing: border-box;
}

/* adding margin 0 makes the html doc to have no white spaces showing around in brwoser add this in reeset file*/
body {
  margin: 0;
  background: url(./wallpapersden.com_programming-coding-language_3840x2160.jpg)
}

/* justify-content using space between pushes the 2 divs away using all the space inbetween */
.navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, rgb(59, 16, 59), purple);
  color: rgb(69, 42, 95);
}

.nav {
  display: flex;
  list-style: none;

}

/* padding the fisrt number of px targets space up/down sedond digit target sleft/right sides. used .nav a totarget a tags in the parent nav.  Trick:you can use color "inhert" and trhis will cause the child to inhert same color as the parent in .nav*/
.nav a {
  padding: 12px 20px;
  color: white
}

.navbar h1 {
  padding-left: 70px;
  border: rgb(81, 47, 121) 5px solid;
  font-size: 40px;
  background-color: lightgray;
  border-top-right-radius: 15px;
  margin-bottom: 0;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding:0px 20px;
  
  /* margin-top: 500px; */
}

/* flex grow to make the groups grow */
/* padding to spread apart */
.portfolio-grid-item {
  flex-grow: 0;
  background: rgb(89, 38, 156);
  width: calc(50% - 5px);
  padding: 15px;
  height: 300px;

}

/* to make this item bigger then rest */
.hero-item {
  width: 100%;
}

/* example of using :root (place on top of css list)to give a varible of our choosing name to change color lesson in advance css day 3 25*/
:root {
  --dark: #13293d;
  --light: #fff;
  --navlink-color: #b9c6ae;
  /* --padding:10px */
}


/* testing from hunt profile */
.sidebar {
  background-color: white;
  float: left;
  width: 300px;
  text-align: center;
  box-shadow: 0 20px 20px rgb(87, 15, 109);
  height: 100vh;
  
  /* grid-auto-columns: auto; */

}

.sidebar a {
color:white;
  display: block;
  text-decoration: none;
  padding-bottom: 14px;
  font-size: 18px;
  padding: 14px 25px;
  background: linear-gradient(45deg, rgb(51, 38, 63), rgb(169, 35, 223));
  
}

.sidebar img {
  border-radius: 50%;

  width: 270px;
  /* padding: 25px 25px; */
  border: 10px solid rgb(77, 31, 138);
  /* margin: 25px 25px; */
  box-shadow: 0 5px 10px black;
  margin-bottom: 50px;
  margin-top: 25px;
}

/* testing from hunt project */
.hero  {
  width: 100%;
  
  /* width: 70em;
  overflow: hidden;
  background-size: 50px;
  position: relative;
  left: 30%;
  top: 30%;
  width: 50%; */

}

nav a:hover {
  color: greenyellow;
}

@media screen and (max-width: 768px) {
  header, main,.navbar {
    flex-direction: column;
  }
}