* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url(./wallpapersden.com_programming-coding-language_3840x2160.jpg)
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, rgb(47, 43, 61), rgb(38, 32, 88));
  color: rgb(69, 42, 95);
}

.nav {
  display: flex;
  list-style: none;
}

.nav a {
  padding: 12px 20px;
  color: white;
  font-size: large;
}

.navbar h1 {
  padding-left: 70px;
  padding-right: 10px;
  border: rgb(47, 43, 61) 5px solid;
  font-size: 40px;
  background-color: lightgray;
  border-top-right-radius: 15px;
  margin-bottom: 0;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 20px;
}

p a {
  color: white;
  font-size: 20px;
}

.portfolio-grid-item {
  flex-grow: 0;
  background: rgb(46, 81, 104);
  width: calc(50% - 5px);
  padding: 15px;
  height: 350px;
  border-radius: 30px;
}

.hero-item {
  width: 100%;
}

:root {
  --dark: #13293d;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

.sidebar {
  background-color: rgb(46, 81, 104);
  float: left;
  width: 305px;
  text-align: center;
  box-shadow: 0 10px 20px rgb(54, 154, 172);
  height: 1500px;
  margin: 5px;
}

.sidebar a {
  color: white;
  display: block;
  text-decoration: none;
  padding-bottom: 14px;
  font-size: 18px;
  padding: 14px 25px;
  background: linear-gradient(45deg, rgb(23, 15, 46), rgb(91, 70, 99));
  border-radius: 10px;
}

.sidebar img {
  border-radius: 50%;
  width: 270px;
  border: 10px solid rgb(25, 7, 48);
  box-shadow: 0 5px 10px black;
  margin-bottom: 50px;
  margin-top: 25px;
}

h3,
h2 {
  color: white;
  position: static;

  left: 10px;
}

.hero {
  width: 100%;
  padding-bottom: 30px;
}

nav a:hover,
.sidebar a:hover, p a:hover {
  color: rgb(70, 224, 10);
  transition: 1s;
}

#formContainer {
  width: 60%;
  background: linear-gradient(45deg, rgb(55, 105, 124), rgb(52, 32, 71));
  border-radius: 30px;
  margin: auto;
}

.contactHead,
form {
  text-align: center;
}

.work1 {
  display: flex;
  height: 240px;
  border: rgb(47, 43, 61) 5px solid;
  font-size: 40px;
  background: url(./send\ news\ long.jpg);
  padding: 10px;
  background-size: 100%;
  border-radius: 15px;
  margin: 0px;
}

.work2 {
  display: flex;
  height: 240px;
  border: rgb(47, 43, 61) 5px solid;
  font-size: 40px;
  background: url(./WDSNIPPET.jpg);
  padding: 10px;
  background-size: 100%;
  border-radius: 15px;
  margin: 0px;
}

.work3 {
  display: flex;
  height: 240px;
  border: rgb(47, 43, 61) 5px solid;
  font-size: 40px;
  background: url(./portsnipp.png);
  padding: 10px;
  background-size: 100%;
  border-radius: 15px;
  margin: 0px;
}

.work1 {
  display: flex;
  height: 240px;
  border: rgb(47, 43, 61) 5px solid;
  font-size: 40px;
  background: url(./send\ news\ long.jpg);
  padding: 10px;
  background-size: 100%;
  border-radius: 15px;
  margin: 0px;
}

.work4 {
  display: flex;
  height: 240px;
  border: rgb(47, 43, 61) 5px solid;
  font-size: 40px;
  background: url(./jokedealer.jpg);
  padding: 10px;
  background-size: 100%;
  border-radius: 15px;
  margin: 0px;
}
.headings {
  color: white;
  padding-left: 70px;
  padding-right: 25px;
  border: rgb(69, 64, 85)5px solid;
  display: inline-block;
  background-color: rgb(47, 43, 61);
  border-top-left-radius: 15px;
}

.slide-item a {
  display: block;
  height: 100%;
}

@media screen and (max-width: 768px) {
  header,
  main,
  .navbar,
  .contactform,
  aside {
    flex-direction: column;
    flex-wrap: wrap;
    display: block;
    float: none;
    width: 100%;
  }
}